/*-------------------------------------------------
GLOBAL CLASSES
-------------------------------------------------*/

*::-moz-focus-inner {
    border: 0;
}

* {
    font-family: "Ultra";
}

body {
    background-color: wheat;
}

/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/

header {
    position: relative;
    text-align: center;
}

#title {
    font-size: 55px;
}

#intro {
    float: inline-start;
    margin-left: 100px;
    font-size: 23px;
}

#motivation {
    float: inline-end;
    margin-right: 100px;
    font-size: 23px;
}

/*-------------------------------------------------
GAME BOARD CLASSES
-------------------------------------------------*/

.game-board {
    position: relative;
    float: left;
    top: 0px;
    left: 100px;
}

#board-image {
    position: relative;
    width: 600px;
}

.buttons {
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 10px 7px #666;
    transition: none;
}

.buttons:focus {
    outline: 0;
    border: none;
}

.buttons:active {
    box-shadow: 0 5px 3px #666;
    transform: translateY(3px);
}
#rock {
    top: 390px;
    left: 335px;
    background-color: transparent;
    border: 7px solid red;
    border-color: red;
}

#rock:hover {
    background-color: rgba(255, 0, 0, 0.219);
}

#paper {
    top: 161px;
    left: 403px;
    background-color: transparent;
    border: 7px solid yellow ;
    border-color: yellow
}

#paper:hover {
    background-color: rgba(255, 255, 0, 0.24);
}

#scissors {
    top: 27px;
    left: 209px;
    background-color: transparent;
    border: 7px solid blueviolet;
    border-color: blueviolet;
}

#scissors:hover {
    background-color: rgba(137, 43, 226, 0.212);
}

#lizard {
    top: 395px;
    left: 99px;
    background-color: transparent;
    border: 7px solid green;
    border-color: green;
}

#lizard:hover {
    background-color: rgba(0, 128, 0, 0.225);
}

#spock {
    top: 166px;
    left: 24px;
    background-color: transparent;
    border: 7px solid blue;
    border-color:blue;
}

#spock:hover {
    background-color: rgba(0, 0, 255, 0.199);
}


/*-------------------------------------------------
INSTRUCTIONS CLASSES
-------------------------------------------------*/

.instructions {
    position: relative;
    float: inline-end;
    right: 160px;
    bottom: 35px;
}

#rule-title {
    font-size: 55px;
}

.rules {
    position: relative;
    bottom: 30px;
    font-size: 27px;
    text-align: center;    
}

#rock-rules {
    background-color: red;
    border-radius: 50%;
}

#paper-rules {
    background-color: yellow;
    border-radius: 50%;
}

#scissors-rules {
    background-color: blueviolet;
    border-radius: 50%;
}

#lizard-rules {
    background-color: green;
    border-radius: 50%;
}

#spock-rules {
    background-color: blue;
    border-radius: 50%;
}
/*-------------------------------------------------
SCORE CLASSES
-------------------------------------------------*/
.score {
    display: none;
}