/*-------------------------------------------------
GLOBAL CLASSES
-------------------------------------------------*/

*::-moz-focus-inner {
    border: 0;
}

* {
    box-sizing: border-box;
    font-family: "Cabin Sketch";
}

header {
    text-align: center;
}

body {
    background-color: wheat;
}

main {
    display: -webkit-flex;
    display: flex;
}

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/



#title {
    font-size: 45px;
}

#intro {
    font-size: 23px;
}

#motivation {
    font-size: 23px;
    text-decoration: underline;
}

#gameMessage {
    font-size: 30px;
}

/*-------------------------------------------------
GAME BOARD CLASSES
-------------------------------------------------*/

.game-board {
    position: relative;
    left: 40px;
    top: 20px
}

#board-image {
    width: 600px;
}

.buttons {
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 10px 7px #666;
    transition: none;
    background: transparent;
}

.buttons:focus {
    outline: 0;
    border: none;
}

.buttons:active {
    box-shadow: 0 5px 3px #666;
    transform: translateY(3px);
}
#rock {
    top: 390px;
    left: 335px;
    background-color: transparent;
    border: 7px solid red;
    border-color: red;
}

#rock:hover {
    background-color: rgba(255, 0, 0, 0.219) !important;
}

#paper {
    top: 161px;
    left: 403px;
    background-color: transparent;
    border: 7px solid yellow ;
    border-color: yellow
}

#paper:hover {
    background-color: rgba(255, 255, 0, 0.24) !important;
}

#scissors {
    top: 27px;
    left: 209px;
    background-color: transparent;
    border: 7px solid blueviolet;
    border-color: blueviolet;
}

#scissors:hover {
    background-color: rgba(137, 43, 226, 0.212) !important;
}

#lizard {
    top: 395px;
    left: 99px;
    background-color: transparent;
    border: 7px solid green;
    border-color: green;
}

#lizard:hover {
    background-color: rgba(0, 128, 0, 0.225) !important;
}

#spock {
    top: 166px;
    left: 24px;
    background-color: transparent;
    border: 7px solid blue;
    border-color:blue;
}

#spock:hover {
    background-color: rgba(0, 0, 255, 0.199) !important;
}


/*-------------------------------------------------
INSTRUCTIONS CLASSES
-------------------------------------------------*/

.instructions {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    bottom: 30px;
}


#rule-title {
    font-size: 45px;
    text-align: center;
}

.rules {
    width: 470px;
    font-size: 27px;
    text-align: center; 
}

#rock-rules {
    background-color: rgba(255, 0, 0, 0.651);
    border-radius: 50%;
}

#paper-rules {
    background-color: rgba(255, 255, 0, 0.658);
    border-radius: 50%;
}

#scissors-rules {
    background-color: rgba(137, 43, 226, 0.637);
    border-radius: 50%;
}

#lizard-rules {
    background-color: rgba(0, 128, 0, 0.678);
    border-radius: 50%;
}

#spock-rules {
    background-color: rgba(0, 0, 255, 0.671);
    border-radius: 50%;
}
/*-------------------------------------------------
SCORE CLASSES
-------------------------------------------------*/
.score {
    font-size: 40px;
    font: bold;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

@media (max-width: 1500px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}